<!DOCTYPE html>
<head>
  <title>About</title>


</head>

<body>

<h1>The Creators of AppMap</h1>
<h2>Meet the Revolutionairies</h2>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="img1.jpg" alt="Delali" style="width:100%">
      <div class="container">
        <h2>Delali Azamati</h2>
        <p class="title">Stanford University</p>
        <p>As a member of many community based organizations, the knowledge I've gained
        was and continues to be crucial to my academic and intellectual develpment. Unfortunately
        CBOs are limited in the number of people they can reach, therefore I've assumed the
        responsiblity to share the knowledge I've been blessed with. </p>
        <p>delali@stanford.edu</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="img2.jpg" alt="Yoona" style="width:100%">
      <div class="container">
        <h2>Yoona Oh</h2>
        <p class="title">Rice University</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="img3.jpg" alt="Emmanuel" style="width:100%">
      <div class="container">
        <h2>Emmanuel Honore</h2>
        <p class="title">Vanderbilt University</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>


</body>
