<!DOCTYPE html>

<html>

<head>
  <title>App Map</title>
  <link rel="stylesheet" href="../resources/about.css">
  <!-- take out ../ when commiting or putting on appengine -->
  <style>
  @import url('https://fonts.googleapis.com/css?family=Amatic+SC');
  </style>
  <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
  <style>
  @import url('https://fonts.googleapis.com/css?family=Boogaloo');
  </style>
</head>

<body>

  <div class="header">
    <a href="/"><img src="../resources/pics/loginlogo.png"/ height='200' width='275'></a><h1>The Creators of AppMap</h1>
  </div>
  <ul>
    <li id='qkfix'>________</li>
    <li><a href="/application">Application</a></li>
    <li><a href="/finaid">Financial Aid</a></li>
    <li><a href="/testing">Testing</a></li>
    <li><a href="/programs">College Access Programs</a></li>
    <li><a href="/track">My Tracker</a></li>
    <li><a href="/timeline/timeline.html">Timeline</a></li>
    <li><a href="/about">About</a></li>
  </ul>
  <div class="revs">
    <h2>Meet the Revolutionairies</h2>
  </div>


<div class="row">
  <div class="column">
    <div class="card">
      <img src="../resources/pics/IMG_-vo8n0s.jpg" alt="Delali" style="width:100%">
      <!-- take out ../ when commiting or putting on appengine -->
      <div class="container">
        <h2>Delali Azamati</h2>
        <p class="title">Stanford University</p>
        <p>As a member of many community based organizations, the knowledge I've gained
        was and continues to be crucial to my academic and intellectual develpment. Unfortunately
        CBOs are limited in the number of people they can reach, therefore I've assumed the
        responsiblity to share the knowledge I've been blessed with.</p>
        <p>delali@stanford.edu</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../resources/pics/18881722_1298573053583749_8344150541272348502_n.jpg" alt="Yoona" style="width:100%">
      <div class="container">
        <h2>Yoona Oh</h2>
        <p class="title">Rice University</p>
        <p>As a student from a low-income family, I grew up knowing that paying for college was something that my parents could not do for me. However, as I got more familiar with college applications and scholarships, I realized that I had the ability to attend a prestigious university, and with the help of my mentors, friends, and QuestBridge, I got matched to Rice University on a full-ride. Now, as a rising college freshman, I want to share my experiences and knowledge with the next class of applicants.
        </p>
        <p>j.oh@rice.edu</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../resources/pics/profile pic.jpg" alt="Emmanuel" style="width:100%">
      <div class="container">
        <h2>Emmanuel Honore</h2>
        <p class="title">Vanderbilt University</p>
        <p>College Possible and Minds Matter gave me the ins and outs to the whole college process, but even with that help it was still one hell of a ride. And without someone telling me what was what, and without all the support and mentorship they gave me, I'm not sure if i'd be where I am now.
          So I wanted to give everything I've learned back to the people who are getting ready to undergo the process themselves, so they know what there in for, and don't make the mistakes that come with being uniformed. </p>
        <p>Emmanuel.k.honore@vanderbilt.edu</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>


</body>

</html>
