<!DOCTYPE html>
<head>
  <title>Application</title>
</head>

<body>

  <h1>Application</h1>

    <h2>Admission Options</h2>

    <ul>
      <li><h3>Early Decision</h3></li>

        <p>The most binding application option with deadlines early in senior year. </p>

          <h4>Warnings!</h4>

            <ul>
              <li>If admitted, students must enroll at that school.</li>
              <li>Students may not apply to other private schools or schools with
                early decison/action admissions plans during the early admissions season.</li>
              <li>Students may apply to public universities in conjuction with their early
                decision application.</li>
              <li>If the student recieves admissions, the students is requred by law to attend
                the college independent of extenuating circumstances.</li>
              <li>Applying early does not increase a student's chance of admittance, rather students
                must decide whether they are prepared to apply early because the applicant pool is much
                stronger.</li>
          </ul>



      <li><h3>Early Decision II</h3></li>
          <p>Just as binding as Early Decision I, however students are allotted more time to complete their
             application.</p>
            <h4>Benefits?</h4>
              <ul>
                <li>Students who are dedicated to a school but are not prepared to complete their application
                   by the early decision I deadline, sjould use this application option.</li>
                <li>Just because students have an extended timeline, does not change the fact that they are
                  restricted to attending that school.</li>
              </ul>



      <li><h3>Early Action</h3></li>

        <p>Nonbinding but restrictive application option with early deadlines.</p>

          <h4>Important!</h4>

            <ul>
              <li>Early action allows students to recieve admissions decisions early without
                being bound to attend that college.</li>
              <li>Like early the early decison application round, apply early action does not
                increase a student's chance of admittance. Rather the early application round
                is composed of a more competitive applicant pool.</li>
              <li>This option is best for a student who is set on attending a school but has some
                reservations, ie financial aid.</li>

              </ul>



      <li><h3>Regular Admissions</h3></li>

        <p>The most common admissions plan allowing students a nonbinding and nonrestrictive plan.</p>

          <h4>Important!</h4>

            <ul>
              <li>Students may apply to as many schools as they wish for the regualar admissions round.</li>
              <li>Even though students may apply to a multitude of universities regular admissions round,
                students must remember the quality of applications is more important than the quantity of
                applications.</li>
              <li>Students who are not as prepared during the early admissions round will better suited to apply
                during the regular admissions round as they are given the most time to complete and perfect their
                application.</li>
            </ul>



      <li><h3>Rolling Admissions</h3></li>

        <p>Nonrestrictive admissions plan that allows students to know of their admissions a few weeks after submssion.</p>

          <h4>More Information!</h4>

            <ul>
              <li>Rolling admissions plans do not have a set deadline, rather students apply on their own timeline
                and recieve admissions decisions shortly after submitting their application.</li>
                <li>Applying to a school that has rolling admissions is best for students who want to know of theit
                  admissions decisions shortly after submitting.</li>
                <li></li>
              </ul>

            </ul>



    <h2>Application Form Options</h2>

      <h4>Important!</h4>
        <p>Some schools have their own application forum and do not accept any of the following, therefore
          students must check with their college to know what they accept.</h4>

    <ul>

      <li><h3>Common App</h3></li>
        <p>The most common application form colleges accept. Once an account is created, students
          have access to their application up until they submit it.</p>


      <li><h3>Coalition App</h3></li>
        <p>Students have the option to fill out the coalition app rather than the common app
          if their college offers the coalition app as a valid application form.</p>


      <li><h3>Universal App</h3></li>
        <p>Another type of application???</p>

    </ul>



    <h2>Essays</h2>
    <ul>
      <li><h3>Personal Statement</h3></li>
        <ul>
          <li>If a student chooses to use the common app as their prefered application form,
            the personal statement is the most important essay.</li>
          <li>This essay will be sent to all the colleges a student decides to apply to.</li>
          <li>In this essay students are advised to relay a true narrative about an experience that
            had an impact on their life today.</li>
        </ul>



      <li><h3>Supplements</h3></li>
      <ul>
        <li>Some schools require students to provide addition information through shorter essays.</li>
        <li>Students are advised to complete supplements even if they are optional because colleges want
          to know as much about their prospective class.</li>
        <li>Students are also advised to not only write about new experiences they've had but also
          how they've changed or what they've learned through those experiences in the supplements.</li>
      </ul>
    </ul>



    <h2>Activities</h2>
      <p>In this section, students are advised to expound on any activity they participated on
        in high school.</p>

        <h4>Important!</h4>
          <ul>
            <li>Extraciriculars that students attained leadership positions in should be listed first
              and students shoul briefly explain the impact they had in that club.</li>
            <li>Students should be careful not to add activites they did not hold membership in high school
              or actvities they did not hold much interest in into their application.</li>
          </ul>



</body>
