<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="js/finaid.js"></script>
<link rel="stylesheet" href="../resources/finaid.css">
</head>
<body>


  <div id='tabs'>
    <ul>
      <li id='ducktape'>__________________________________________________</li>
      <li><a href="default.asp">Application</a></li>
      <li id='ducktape'>-------</li>
      <li><a href="default.asp">College Access Programs</a></li>
      <li id='ducktape'>-------</li>
      <li><a href="contact.asp">Testing</a></li>
      <li id='ducktape'>-------</li>
      <li><a href="news.asp">My Tracker</a></li>
      <li id='ducktape'>-------</li>
      <li><a href="contact.asp">Timeline</a></li>
      <li id='ducktape'>-------</li>
      <li><a href="about.asp">About</a></li>
    </ul>
  </div>


<h1 class="title">Financial Aid</h1>
<h2 class="intro">
  <span id="pt1">  Get in. </span>
  <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>
  <span id ="pt2">Get out.</span>
  <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>
  <span id="pt3">No debt.</span>
</h2>
<div id='else'>
  <h3 class="intro-ish">We all know that college is expensive, and that no one wants to take out loans. But what seems to be less talked about is
     just how complicated dealing with financial aid is. So for the uniniated, this page will be a debreifing on the inner workings
     of tuition, costs, how aid will be given, how to apply for aid, and when all thats gonna happen.</h3>

    <h3 id='branch'>Costs and how you are billed:</h3>
        <div id='paint'>
          <p><h5 id='branch'>Billable Costs:</h5>Billable costs are the bare minumum of what you'll be paying for college. Your school will charge
        you this every semester in the form of one huge bill. These costs include things like tuition, room and board, meal plans, etc.</p>
     </div>
<br>
        <div id='paint'>
          <p><h5 id='branch'>Nonbillable costs:</h5>Nonbillable costs are all the other things that make college expensive. These are things like Textbooks for
          classes, a new laptop, going out to eat, etc. Your school will NOT charge you for these, but they will give you an estimate of how much you'll need,
          and print it on your aid report.</p>
        </div>
<br>
        <div id='paint'>
        <p><h5 id='branch'>Cost of Attendance</h5>The Cost of Attendance (or CoA for short) is the some of billable and nonbillable expenses, and as the name implies,
        represents how much your likely to spend while attending your university. What's important to note here is that although this number is high, a lot
        of the nonbillable expenses are flexible, and depened on how frugal you want to be. So take the CoA as more of an estimate than an actual figure.</p>
        </div>

  <h3 id='branch'><a href="https://student.collegeboard.org/css-financial-aid-profile">CSS Profile</a></h3>
  <br>
      <div id='paint'>
      <p><h5 id='branch'>What is it?</h5>The CSS profile is a form that some of you will need to fill out to apply for financial aid. Whether or not it's required
    depends on the institution (a simple google search will often tell you whether or not any given school requires it). This form requires you to fill
    out information pertaining to your income, your parents income, and any off hand money and assets (most of which can be found on tax forms).</p>
    </div>
  <br>
      <div id='paint'>
      <p><h5 id='branch'>Tips:</h5>The CSS profile is long, and VERY specific. Many of the questions are confusing (even for people with experience) so START IT EARLY.
    I'd suggest doing starting it as soon as possible, because sometimes the process can take weeks if not done right. And for those who have seperated
     parents, you will likely have to complete another for called the Noncustodial parent form. Also, make sure you ahave all relevant tax forms (and parents/gaurdians)
     in front you while your filling it out, as to make it MUCH easier on yourself.</p>
    </div>
  <h3><a href="https://idoc.collegeboard.org/idoc/">IDOC form submission</a></h3>
  <ul>
    <li><h4 id='branch'>What is it?</h4>
      <div id='paint'>
      <p> Idoc is simply an online method of submitting tax documents to your schools and may only be started AFTER completing the CSS profile.
    Some institutions require you to submit your actual taxes in conjuction with the css profile as a sort of "Verification" to the imformation you provide them.
     So the Idoc is a site that is, like the CSS profile, run by the College Board.</p>
     </div>
   </li>
    <li><h4 id='branch'>Tips:</h4>
      <div id='paint'>
      <p>Idoc tax document submission is a long and argueous process. So taking your time (and giving yourself lots of time to do so)
     is very helpful. Other than that, make sure you research what schools need what forms (because not all schools want the same things) and you prepare
    them accordingly.</p>
     </div>
    </li>
  </ul>
  <h3><a href="https://fafsa.ed.gov/">Fafsa</a></h3>
  <ul>
    <li><h4 id='branch'>What is it?</h4>
      <div id='paint'>
      <p>  Fafsa stands for Free Application for Federal State Aid and is, like the css profile, not necsesary for some schools. It will give you
     at max you will get the full federal pell grant (which is roughly 6,000 dollars) and although this may not seem like much to sum, what's more important is the
      forms you fill out. Because when sent to the school, the fafsa will help the institution decide how much they want to give you in terms of aid. </p>
     </div>
   </li>
    <li><h4 id='branch'>Tips:</h4>
      <div id='paint'>
      <p>  The FAFSA is actually much easier, and much faster than the CSS profile, so it's not that bad to deal with. But you will most likely need to create
     an account for your parent/gaurdian and will need a lot of tax imformation so having tax papers and your parent will also make this much easier to do. </p>
      </div>
     </li>
  </ul>
  <br>
</div>
</body>
</html>
