<!DOCTYPE html>
<html>
<head>
  <title>App Map</title>
</head>
<body>
<h2>Please sign in to use our website</h2>

</body>

</html> 
<head>
  <link rel="stylesheet" href="../resources/login.css">
  <style>
  @import url('https://fonts.googleapis.com/css?family=Amatic+SC');
  </style>
  <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
  <style>
  @import url('https://fonts.googleapis.com/css?family=Boogaloo');
  </style>
  <title>Login</title>
</head>

<body>

  <div class="linklogin">
  <a href="file:///Users/demouser/Desktop/appmap/project/templates/about.html">Please Login</a>
  </div>


<ul class="cb-slideshow">
	<li>
		<span>Image 01</span>
		<div>
			<h3>AppMap</h3>
		</div>
	</li>
	<li><span>Image 02</span>
  <div>
    <h3>AppMap</h3>
  </div></li>
	<li><span>Image 03</span>
  <div>
    <h3>AppMap</h3>
  </div></li>
  <li>
		<span>Image 04</span>
		<div>
			<h3>AppMap</h3>
		</div>
	</li><li>
		<span>Image 05</span>
		<div>
			<h3>AppMap</h3>
		</div>
	</li><li>
		<span>Image 06</span>
		<div>
			<h3>AppMap</h3>
		</div>
	</li>
</ul>



</body>

<div id="mySidenav" class="sidenav">
  <a href="/application" id="application">Application</a>
  <a href="/finaid" id="finaid">Financial Aid</a>
  <a href="/testing" id="testing">Testing</a>
  <a href="/programs" id="programs">College Access Programs</a>
  <a href="tracker" id="tracker">My Tracker</a>
  <a href="/timeline" id="timeline">Timeline</a>
  <a href="/about" id="about">About</a>
</div>
</html>
