<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../resources/programs.css">
  </head>
  <body>


<div>
  <ul>
    <li id='ducktape'>__________________________________________________</li>
    <li><a href="/application">Application</a></li>
    <li id='ducktape'>-------</li>
    <li><a href="/finaid">Financial Aid</a></li>
    <li id='ducktape'>-------</li>
    <li><a href="/testing">Testing</a></li>
    <li id='ducktape'>-------</li>
    <li><a href="/track">My Tracker</a></li>
    <li id='ducktape'>-------</li>
    <li><a href="/timeline">Timeline</a></li>
    <li id='ducktape'>-------</li>
    <li><a href="/about">About</a></li>
  </ul>
</div>

    <h1>Programs</h1>
    <p class='intro'>This is the page of plugs. We're going to put you onto some of the programs we feel did the most for us
      and show you some website to give you even more!</p>
<br>
<br>
<h2><span><img src="../resources/pics/mindsmatter.png" height="75"; width="250"></span></h2>
<br>


<div id='program'>
  <p>
    Minds Matter is an intensive 3 year program that starts when your a sophmore. Once in, you'll spend your saturdays with the program doing things like ACT/SAT prep, writing classes, and attending college panels. What's more is that your paired with
    two mentors that will guide you through the program for all three years. And when the summer comes, you'll attend an all expenses paid summer program of your choice! (You spend a lot of the school year searching, applying, and getting into quite a few). Learn more Here: <a href='https://www.mindsmatter.org/'>LINK</a>
  </p>
</div>


<br>
<h2><span><img src="../resources/pics/questbridge.png" height="60"; width="240"></span></h2>
<br>
<div id='program'>
<p>
  College Prep Scholars is a program that offers students the opportunity to receive full scholarships to college summer programs, Quest for Excellence Awards which can be used to pay for laptops, college visits, etc., and attend the QuestBridge National
  College Admissions Conference where they can learn more about the college admissions process and meet other College Prep Scholars. They also receive free essay feedback and the chance to get a head start on the QuestBridge National College Match Application. Learn more here: <a href='https://www.questbridge.org/high-school-students/college-prep-scholars'>LINK</a>
</p>
</div>
<br>
<h2><span><img src="../resources/pics/ledascholars.png" height="50"; width="300"></span></h2>
<br>
<div id='program'>
<p>
  Leadership Enterprise for a Diverse America is an intensive summer program for incoming high school seniors hosted at Princeton University for seven weeks during the summer. Students are not  only exposed to the nation's top schools,
  but are also given the tools to successfully compete the application process including applying for financial aid. Learn more here: <a href='http://ledascholars.org/'>LINK</a>
</p>
</div>
<br>
<h2><span><img src="../resources/pics/cp.png" height="70"; width="300"></span></h2>
<br>
<div id='program'>
<p>
  College Possible is a two year program dedicated to helping low income and underprivleged students navigate the college application process. Starting your Junior year, you will go through intensive ACT/SAT trainging, spend time talking
  to college students on the transition, and preparing for the actual college applicaiton. Learn more here: <a href='http://www.collegepossible.org/'>LINK</a>
</p>
</div>

<br>

<h2> Are you not satisfied?? </h2>
<div id='program'>
  <p>If you want to see more, here are some links to websites with lists. But you can always just google programs for what you want. Some of the best oppurtunities are the ones that you find on a quick search.</p>
<a href='https://www.iacac.org/summer-programs/'>MORE</a>
<br>
<br>
<br>
<a href='http://www.collegexpress.com/lists/list/top-summer-pre-college-programs/1761/'>MORE</a>
</div>

  </body>
</html>
