<!DOCTYPE html>
<html>
  <head>
    <title>App Map</title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <form action="/track">
    Name
    <input type="text" name="name"/>
    <br>
    Grade
    <input type="text" name="grade"/>
    <br>
    Please check off any of the following that you have completed.
    <br>
    <input type="checkbox" name="profile">
    Main application profile (basic information, family, education, test scores)
    <br>
    <input type="checkbox" name="activities">
    Activities and honors section
    <br>
    <input type="checkbox" name="essay">
    Main application essay
    <br>
    <input type="checkbox" name="supplements">
    Supplemental essays
    <br>
    <input type="checkbox" name="recommendations">
    Teacher/mentor/peer recommendations
    <br>
    <input type="checkbox" name="interviews">
    Interviews
    <br>
    <input type="checkbox" name="fafsa">
    FAFSA
    <br>
    <input type="checkbox" name="css">
    CSS profile
    <br>
    <input type="checkbox" name="idoc">
    IDOC
    <br>
    <input type="checkbox" name="scores">
    Sent score reports
    <br>
    <input type="checkbox" name="scholarship">
    Scholarship applications
    <br>
    <input type="checkbox" name="program">
    Program applications (college access programs, specialty programs)
    <br>
    <input type="checkbox" name="other">
    Other
    <input type="text" name="other">
    <br>
    <input type="submit"/>
    </form>
  </body>
<html>
