<!DOCTYPE html>
<html>
  <head>
    <title>App Map</title>
    <link href="/resources/registration.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amiri" rel="stylesheet">
  </head>
  <body>
    <h1>Sign Up</h1>
    <form method="post" action="/track">
    <div id="a">
    Name
    <input type="text" name="name"/>
    <br>
    Class Year (e.g. college class of 2021)
    <input type="text" name="class_year"/>
    <br>
    Please check off any of the following that you have completed.
    <br>
    <input type="checkbox" name="profile">
    Main application profile (basic information, family, education, test scores)
    <br>
    <input type="checkbox" name="activities">
    Activities and honors section
    <br>
    <input type="checkbox" name="essay">
    Main application essay
    <br>
    <input type="checkbox" name="supplements">
    Supplemental essays
    <br>
    <input type="checkbox" name="recommendations">
    Teacher/mentor/peer recommendations
    <br>
    <input type="checkbox" name="interviews">
    Interviews
    <br>
    <input type="checkbox" name="fafsa">
    FAFSA
    <br>
    <input type="checkbox" name="css">
    CSS profile
    <br>
    <input type="checkbox" name="idoc">
    IDOC
    <br>
    <input type="checkbox" name="scores">
    Sent score reports
    <br>
    <input type="checkbox" name="scholarship">
    Scholarship applications
    <br>
    <input type="checkbox" name="program">
    Program applications (college access programs, specialty programs)
    <br>
    <br>
    </div>
    <div id="b">
    <input id="submit" type="submit"/>
    </div>
    </form>
  </body>
<html>
