<!DOCTYPE html>
<html>
<head>
  <title>App Map</title>
  <link href="/resources/testing.css" rel="stylesheet"/>
  <style>
  @import url('https://fonts.googleapis.com/css?family=Amatic+SC');
  </style>
  <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
  <style>
  @import url('https://fonts.googleapis.com/css?family=Boogaloo');
  </style>

</head>
<body>
  <div class="header">
    <img src="../resources/pics/loginlogo.png"/><h1>Testing</h1>
  </div>
  <div class="navbar">
    <ol>
      <div class="next">
        <li><a href="/application">Application</a></li>
        <li><a href="/finaid">Financial Aid</a></li>
        <li><a href="/testing">Testing</a></li>
        <li><a href="/programs">College Access Programs</a></li>
        <li><a href="/track">My Tracker</a></li>
        <li><a href="/timeline">Timeline</a></li>
        <li><a href="/about">About</a></li>
      </div>
    </div>
  </div>
  </ol>

  <div class="revs">
    <h2>Taking the Test</h2>
  </div>
      <p>&nbsp;Most colleges will require an SAT or ACT test score and sometimes
        SAT subject test scores. It is highly recommended that
        you take your first test during the fall of your junior year.
        Between the SAT and ACT, it is best to try each test to see which one is best for you.
        Here is a brief overview of each test.

  <div class="together">
    <div class="sechead">
    <h3>SAT</h3>
      </div>
    <ul>
      <li>Time: 3 hours (+ 50 minutes w/ optional essay)
      <li>Sections: 3 (Reading, Writing and Language, Math)
      <li>Scores: 400-1600 (essay: 3 domains scored 2-8 each)
    </ul>
  </div>
    <div class="together">
    <div class="sechead">
    <h3>ACT</h3>
  </div>
    <ul>
      <li>Time: 2 hours 55 minutes (+ 40 minutes w/ optional essay)
      <li>Sections: 4 (Reading, English, Math, Science)
      <li>Scores: 1-36 (essay: domain scores 2-12 each)
    </ul>
  </div>


  <div class="together">
  <div class="sechead">
    <h3>SAT Subject Tests</h3>
  </div>
    <div class="put">
      <p>You may have heard something about SAT IIs or SAT subject tests. Currently,
        the CollegeBoard offers 20 subject tests:<ul>
          <li>Math Level 1</li>
          <li>Math Level 2</li>
          <li>Biology E/M(Ecological/Molecular)</li>
          <li>Chemistry</li>
          <li>Physics</li>
          <li>English</li>
          <li>U.S. History</li>
          <li>World History</li>
          <li>Spanish</li>
          <li>Spanish with Listening</li>
          <li>French</li>
          <li>French with Listening</li>
          <li>Chinese with Listening</li>
          <li>Italian</li>
          <li>German</li>
          <li>German with Listening</li>
          <li>Modern Hebrew</li>
          <li>Latin</li>
          <li>Japanese with Listening</li>
          <li>Korean with Listening</li>
        </ul>
      </div>
      <p>&nbsp;Often, a college will require 2-3 subject tests. Some schools require
        specific ones; others let you choose which ones to take. People
        tend to take the test in the subject they just learned in school (i.e. taking
        the Biology subject test after taking AP Bio).
        <br>
        <br>
        &nbsp; Whatever you choose to take,practice as much as you can.
        CollegeBoard and ACT conveniently provides descriptions
        and practice questions. Plus, there are tons of
        resources like Barron's and Princeton Review that will give you not only
        content review but also practice questions and tests.
      </div>
    </div>
  <div class="together">
  <div class="sechead">
  <h2>Sending Your Scores</h2>
</div>

      <p>&nbsp;<i>Some</i> colleges will require you to send your test scores. More
        and more schools are becoming test-optional, and some schools will allow
        score-choice, which means you can send whichever scores you want.
        Others will require all of your scores. Many schools also <b>superscore</b>
        which means that they will take the highest score across multiple sittings.
        For schools that require score reports, here's a step by step
        process of how to send your scores:</p>
      </div>
    <h3>CollegeBoard</h3>
      <ol>
        <li>Go to <a href="https://www.collegeboard.org/">https://www.collegeboard.org/ and sign in.</a></li>
        <br>
        <img class="testing" src="/images/collegeboardstepone.png"/>
        <br>
        <br>
        <li>Click on "My SAT".</li>
        <br>
        <img class="testing" src="/images/collegeboardsteptwo.png"/>
        <br>
        <br>
        <li>Click on "Send Available Scores Now" and then click "Send Additional Score Reports".</li>
        <br>
        <img class="testing" src="/images/collegeboardstepthree.png"/>
        <br>
        <br>
        <li>Search your school's name, click on it, and then click add to add each school one by one.
        Then, hit continue once you're finished adding all of your schools.</li>
        <br>
        <img class="testing" src="/images/collegeboardstepfour.png" />
        <br>
        <br>
        <li>If your school offers score-choice, then you have the option to select the test scores you want to
        send. You can change which scores will be sent by clicking on "Choose Scores".</li>
        <br>
        <img class="testing" src="/images/collegeboardstepfive.png"/>
        <br>
        <br>
        <li>Once, you're satisfied with your score report, then you can click continue to go to the
          payment section where you will put in your credit card information. From there, when you
          hit submit, you should be redirected to a confirmation page with your order information.  </li>
      </ol>
    <h3>ACT</h3>
      <ol>
        <li>Go to <a href="http://www.act.org/">http://www.act.org/.</a></li>
        <br>
        <img class="testing" src="/images/actstepone.png"/>
        <br>
        <br>
        <li>Sign in to "ACT Test."</li>
        <br>
        <img class="testing" src="/images/actsteptwo.png"/>
        <br>
        <br>
        <li>Sign into your account.</li>
        <br>
        <img class="testing" src="/images/actstepthree.png"/>
        <br>
        <br>
        <li>Click on "Send Your Scores."</li>
        <br>
        <img class="testing" src="/images/actstepfour.png"/>
        <br>
        <br>
        <li>Click on the test score(s) you want to submit, and click continue</li>
        <br>
        <img class="testing" src="/images/actstepfive.png"/>
        <br>
        <br>
        <li>Enter in the information of the school(s) you are sending the scores to.</li>
        <br>
        <img class="testing" src="/images/actstepsix.png"/>
        <br>
        <br>
        <li>Once you're done adding your schools, click "continue."</li>
        <br>
        <img class="testing" src="/images/actstepseven.png"/>
        <br>
        <br>
        <li>You should be taken to the payment section where you will put in your credit card information.
          Once you do that and hit "submit," you should be taken to a confirmation page with your order information.</li>
    <p>&nbsp; TAKE CAUTION: when sending scores, make sure you send them well in
      advance. It often takes about 1-3 weeks for them to be sent by CollegeBoard/ACT
      and processed by the school(s) you're sending them to. If you are taking any
      of these tests, the latest testing date suggested for early admission is October
      and the latest testing date suggested for regular admission is November. If you plan
      to take the tests on these dates, CollegeBoard and ACT offer students the option to
      send 4 score reports for free. Otherwise, you will have to pay $12 for each score report.
      If paying for score reports becomes a financial burden for you/your family, you can
      request fee waivers for them. It is best to talk to your guidance/college counselor
      about obtaining fee waivers.</p>
 </body>
</html>
