<!DOCTYPE html>
<html>
<head>
  <title>App Map</title>
  <link href="/images/testing.css" rel="stylesheet"/>
</head>
<body>
  <h1>Testing</h1>
  <h2>Taking the Test</h2>
      <p>Most colleges will require either an SAT or ACT test score and sometimes
        SAT subject test scores. Here is a brief overview of each test.
    <h3>SAT</h3>
      <p> The SAT is a 3 hour (3 hour and 50 minute with optional essay) test
        that has two sections: Writing and Language
    <h3>ACT</h3>
      <p>
    <h3>SAT Subject Tests</h3>
      <p>You may have heard something about SAT IIs or SAT subject tests. Currently,
        the CollegeBoard offers 20 subject tests:
        <ul>
          <li>Math Level 1</li>
          <li>Math Level 2</li>
          <li>Biology E/M(Ecological/Molecular)</li>
          <li>Chemistry</li>
          <li>Physics</li>
          <li>English</li>
          <li>U.S. History</li>
          <li>World History</li>
          <li>Spanish</li>
          <li>Spanish with Listening</li>
          <li>French</li>
          <li>French with Listening</li>
          <li>Chinese with Listening</li>
          <li>Italian</li>
          <li>German</li>
          <li>German with Listening</li>
          <li>Modern Hebrew</li>
          <li>Latin</li>
          <li>Japanese with Listening</li>
          <li>Korean with Listening</li>
        </ul>
      <p>Often, a college will require 2-3 subject tests. Some schools require
        specific ones; others let you choose which ones to take. People
        tend to take the test in the subject they just learned in school (i.e. taking
        the Biology subject test after taking AP Bio). Whatever you choose to take,
        just practice as much as you can. CollegeBoard conveniently provides descriptions
        and practice questions for all subject tests. Plus, there are tons of
        resources like Barron's and Princeton Review that will give you not only
        content review but also practice questions and tests.
  <h2>Sending Your Scores</h2>
      <p><i>Some</i> colleges will require you to send your test scores. More
        and more schools are becoming test-optional. Some schools will allow
        score-choice, which means you can send whichever scores you want. Others
        Others will require all of your scores. Many schools also <b>superscore</b>
        which means that they will take the highest score across multiple sittings.
        For schools that require score reports, here's a step by step
        process of how to send your scores:</p>
    <h3>CollegeBoard</h3>
      <ol>
        <li>Go to <a href="https://www.collegeboard.org/">https://www.collegeboard.org/</a>.</li>
        <img class="testing" src="/images/collegeboardstepone.png"/>
        <li>Sign in</li>
        <img class="testing" src="/images/collegeboardsteptwo.png"/>
        <li>Click on "My SAT"</li>
        <img class="testing" src="/images/collegeboardstepthree.png"/>
      </ol>
    <h3>ACT</h3>
      <ol>
        <li>Go to <a href="http://www.act.org/">http://www.act.org/</a></li>
        <img class="testing" src="/images/actstepone.png"/>
        <li>Sign in to "ACT Test"</li>
        <img class="testing" src="/images/actsteptwo.png"/>
        <li>Sign into your account</li>
        <img class="testing" src="/images/actstepthree.png"/>
        <li>Click on "Send Your Scores"</li>
        <img class="testing" src="/images/actstepfour.png"/>
        <li>Click on the test score(s) you want to submit</li>
        <img class="testing" stc="/images/actstepfive.png"/>
        <li>
    <p> TAKE CAUTION: when sending scores, make sure you send them well in
      advance. It often takes about 1-3 weeks for them to be sent by CollegeBoard/ACT
      and processed by the school(s) you're sending them to. If you are taking any
      of these tests, the latest testing date suggested for early admission is October
      and the latest testing date suggested for regular admission is November.

 </body>
</html>
