.navbar {
  font-family: 'Amatic SC', cursive;
  color: #2D0320;
  font-size: 40px;
}

h1 {
  font-family: 'Rock Salt', cursive;
  color: #392B58;
  font-size: 60px;
}

.sechead {
  color: #645E9D;
  font-family: 'Boogaloo', cursive;
  font-size: 30px;
  float: right;
  width: 300px;
  border: 3px solid white;
  padding: 10px;
}

.header {
  display: inline-flex;
}

.revs {
  font-family: 'Amatic SC', cursive;
  color: #2D0320;
  font-size: 40px;
}

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6C969D;
    font-family: 'Boogaloo', cursive;
    font-size: 20px;
}

.together {
  display: inline-flex;
  line-height: 1.5;
  text-align: left;
}

table {
  padding: 40px 0;
  border: 3px solid white;
}

.description {
  float: right;
  width: 300px;
  border: 3px solid white;
  padding: 60px 0;
  /*text-align: center;*/
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
