/* Coolors Exported Palette - coolors.co/99d5c9-6c969d-645e9d-392b58-2d0320 */

/* HSL */
$color1: hsla(168%, 42%, 72%, 1);
$color2: hsla(189%, 20%, 52%, 1);
$color3: hsla(246%, 25%, 49%, 1);
$color4: hsla(259%, 34%, 26%, 1);
$color5: hsla(319%, 88%, 9%, 1);

/* RGB */
$color1: rgba(153, 213, 201, 1);
$color2: rgba(108, 150, 157, 1);
$color3: rgba(100, 94, 157, 1);
$color4: rgba(57, 43, 88, 1);
$color5: rgba(45, 3, 32, 1);
